body{

background:black;

color:white;

font-family:Arial;

}


.head{

background:black;

padding:20px;

text-align:center;

}


.logo span{

color:red;

}


.container{

display:flex;

justify-content:space-around;

align-items:center;

margin-top:50px;

}


.Me img{

width:250px;

border-radius:50%;

border:3px solid red;

}


.btn a{

display:inline-block;

margin:10px;

padding:10px 20px;

border:1px solid red;

color:white;

text-decoration:none;

}


.btn a:hover{

background:red;

}


section{

padding:50px;

text-align:center;

}


footer{

background:black;

padding:20px;

text-align:center;

}